<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projekelfa_mobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjekElfa_Mobile">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCO-trG9d9eDQXKY0JxWiZNjK7wbaD-zB4" />


        <activity
            android:name=".view.activity_roti"
            android:exported="false" />
        <activity
            android:name=".activity_about"
            android:exported="false" />
        <activity
            android:name=".activity_sukses_order"
            android:exported="false" />
        <activity
            android:name=".activity_history"
            android:exported="false" />
        <activity
            android:name=".view.activity_detail_roti"
            android:exported="false" />
        <activity
            android:name=".activity_profil"
            android:exported="false" />
        <activity
            android:name=".activity_splash"
            android:exported="false" />
        <activity
            android:name=".activity_pesan"
            android:exported="false" />
        <activity
            android:name=".activity_utama"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".boarding_page1"
            android:exported="false" />
        <activity
            android:name=".boarding2_page"
            android:exported="false" />
        <activity
            android:name=".boarding3_page"
            android:exported="false" />
        <activity
            android:name=".activity_login"
            android:exported="false" />
        <activity
            android:name=".activity_register"
            android:exported="false" />
        <activity
            android:name=".Maps"
            android:exported="true" />
    </application>

</manifest>